/.metadata
/RemoteSystemsTempFiles
/.settings
/.idea
/.project

/test-output/
/logs/
/felix-cache/
/generated/

build/
.gradle/
.idea/
.settings/
*.iml
out/
target/
nbactions.xml
nb-configuration.xml
.classpath
.project